* {
 box-sizing: border-box;
}

body {
 font-family: 'Roboto', sans-serif;
 background: url('https://images.unsplash.com/photo-1557821552-17105176677c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHNob3BwaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
}

button, input[type="text"] {
 padding: 5px;
}

button:hover {
 cursor: pointer;
}

#shopping-list-item {
 width: 250px;
}

.container {
 max-width: 600px;
 margin: 0 auto;
}

.shopping-list {
 list-style: none;
 padding-left: 0;
}

.shopping-list > li {
 margin-bottom: 20px;
 border: 4px solid black;
 padding: 20px;
}

.shopping-item {
 display: block;
 color: Yellow;
 font-style: italic;
 font-size: 20px;
 margin-bottom: 15px;
}

.shopping-item__checked {
 text-decoration: line-through;
 color: red;
}